.input-group {
  display: flex;
  margin-bottom: $size-m;
  flex-direction: column;
  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
    margin-bottom: $size-l;
  }
}

.input-group__item {
  margin-right: $size-s;
  @media (min-width: $desktop-breakpoint) {
    margin: 0 $size-s 0 0;
  }
}