.page-header {
  background: $light-gray;
  padding: $size-l 0;
  margin-bottom: $size-l;
}

.page-header__actions {
  margin-top: $size-m;

}

.page-header__title {
  margin: 0;
  font-weight: 300;
  span {
    font-weight: bold;
  }
}
