//.../// Colors ///...//
$off-white: #a5afd7;
$matte-black: #20222b;
$light-blue: #464b5e;
$dark-blue: #333745;
$stell-blue: #364051;
$blue: #3c4251;
$purple: #8357c5;
$dark-gray: #333;
$cyanish-blue: #1c88bf;


//.../// Spacing ///...//
$size-s: 1.2rem;
$size-m: 1.6rem;
$size-l: 3.2rem;
$size-xl: 4.8rem;
$small-phones-breakpoint: 21.5rem;
$medium-phones-breakpoint: 43rem;

//.../// Font sizes ///...//
$font-size-l: 1.8rem;

